
<style>
    input {
        padding: 14px 20px;
        margin: 8px 0px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid black;
    }

    button {
        background-color: #333;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
    }

        button:hover {
            opacity: 0.7;
        }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
            /* Change the link color to #111 (black) on hover */
            li a:hover {
                opacity: 0.7;
            }
</style>
<ul>
    <li><a href="#home">Assignment</a></li>
    <li>
        @Html.ActionLink("Login", "Index", "Home", new { })
    </li>
    <li>
        @Html.ActionLink("Register", "Create", "Home", new { })
    </li>
</ul>